<nav class="navbar is-transparent" role="navigation" aria-label="main dropdown navigation" x-data="{ burgerOpen: false }">
  <div class="navbar-brand">

    <a role="button" 
      class="navbar-burger burger" 
      aria-label="menu" 
      x-bind:class="{ 'is-active': burgerOpen }" 
      @click="burgerOpen = true" 
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <a class="navbar-item is-hidden-desktop" href={{ "/" | relURL }}>
      {{ with .Site.Title }}
      <strong>{{ . }} </strong>
      {{ end }}
    </a>
  </div>

  <div class="navbar-menu"
    x-bind:class="{ 'is-active': burgerOpen }"
    @click.away="burgerOpen = false"
  >
    <div class="navbar-start" style="flex-grow: 1; justify-content: center; padding-left: 20%" id="mobileName">
      <a class="navbar-item is-hidden-mobile" href={{ "/" | relURL }}>
        {{ with .Site.Title }}
        <strong>{{ . }} </strong>
        {{ end }}
      </a>
    </div>

    <div class="navbar-end">
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <div class="navbar-item has-dropdown"
          x-bind:class="{ 'is-active': blogOpen }"
          x-data="{ blogOpen: false }"
        >
          <a class="navbar-link"
            @click="blogOpen = !blogOpen"
            @click.away="blogOpen = false"
          >{{- .Name -}}</a>
          <div class="navbar-dropdown is-boxed" x-bind:class="{ 'dropdown-link': !blogOpen }">
            {{ range .Children }}
            <a class="navbar-item" href="{{ .URL }}">
              {{- .Name -}}
            </a>
            {{ end }}
          </div>
        </div>
        {{ else }}
        <a class="navbar-item" href="{{ .URL }}">
          {{- .Name -}}
        </a>
        {{ end }}
        {{ end }}
      {{ with .Site.Params.GithubProfile }}
      <a class="navbar-item navgithub" href="https://github.com/{{ . }}" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
      {{ end }}

      {{ with .Site.Params.GoogleSearch }}
      <div class="navbar-item">
        <form id="cse-search-box-form-id" onsubmit="return executeQuery();" role="search">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input id="cse-search-input-box-id" size=15 class="input" type="text" autocomplete="off"
                placeholder="&#xf1a0; Google search" style="font-family:Arial, FontAwesome">
            </div>

            <div class="control">
              <button type="submit" class="button is-black">
                <i class="fa fa-search"></i>
                </a>
              </button>
            </div>
          </div>
        </form>
      </div>
      {{ end }}
    </div>
  </div>
</nav>